{% extends 'base/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h3 class="text-center mb-0">비밀번호 초기화 링크 발송</h3>
            </div>
            <div class="card-body text-center">
                <p>비밀번호 초기화 링크가 이메일로 발송되었습니다. 이메일을 확인해주세요.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">로그인 페이지로 돌아가기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
